<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://www.inandoutbelleza.es/assets/images/favicon.png" rel="shortcut icon"
          type="image/x-icon">
    <link href="https://www.inandoutbelleza.es/assets/images/apple-touch-icon.png"
          rel="apple-touch-icon-precomposed">
    <link href="https://www.inandoutbelleza.es/assets/images/apple-touch-icon-114x114.png"
          sizes="114x114" rel="apple-touch-icon-precomposed">
    <link href="https://www.inandoutbelleza.es/assets/images/apple-touch-icon-72x72.png"
          sizes="72x72" rel="apple-touch-icon-precomposed">
    <link href="https://www.inandoutbelleza.es/assets/images/apple-touch-icon-144x144.png"
          sizes="144x144" rel="apple-touch-icon-precomposed">
    <meta name="description"
          content="In&amp;Out es tu centro de belleza en Málaga por excelencia, pioneros en la técnica de la depilación con hilo en Málaga y en tratamientos de belleza.">
    <meta name="robots" content="noodp">
    <link rel="canonical" href="https://www.inandoutbelleza.es/">
    <meta property="og:locale" content="es_ES">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Inicio - In&amp;Out Centro de Belleza en Málaga">
    <meta property="og:description"
          content="In&amp;Out es tu centro de belleza en Málaga por excelencia, pioneros en la técnica de la depilación con hilo en Málaga y en tratamientos de belleza.">
    <meta property="og:url" content="https://www.inandoutbelleza.es/">
    <meta property="og:site_name" content="In&amp;Out Centro de Belleza en Málaga">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description"
          content="In&amp;Out es tu centro de belleza en Málaga por excelencia, pioneros en la técnica de la depilación con hilo en Málaga y en tratamientos de belleza.">
    <meta name="twitter:title" content="Inicio - In&amp;Out Centro de Belleza en Málaga">
    <meta name="twitter:site" content="@bellezainandout">
    <meta name="twitter:image" content="https://www.inandoutbelleza.es/assets/images/apple-touch-icon-144x144.png">
    <meta name="twitter:creator" content="@bellezainandout">
    <link rel="shortlink" href="https://www.inandoutbelleza.es/">
    <link href="/css/material.css?v={{htmlWebpackPlugin.options.version}}" rel="stylesheet"/>
    <link href="/css/material.select.min.css?v={{htmlWebpackPlugin.options.version}}" rel="stylesheet"/>
    <link href="/css/admin.css?v={{htmlWebpackPlugin.options.version}}" rel="stylesheet"/>
    <title>In&Out - centro de belleza</title>
</head>
<body>
    <div id="app" style="opacity: 0" class="cgt-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header id="header" class="cgt-header mdl-layout__header"></header>
        <div id="menu" class="cgt-drawer mdl-layout__drawer "></div>
        <main id="main" class="mdl-layout__content"></main>
    </div>
    <div id="errors" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <div id="modal"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <script src="/assets/vendor/material.min.js?v={{htmlWebpackPlugin.options.version}}"></script>
    <script src="/assets/vendor/material.select.js?v={{htmlWebpackPlugin.options.version}}"></script>
    <script src="http://js.nicedit.com/nicEdit-latest.js"></script>
    <script src="/assets/vendor/polyfills.min.js"></script>
    <script src="/admin.bundle.js?v={{htmlWebpackPlugin.options.version}}"></script>
</body>
</html>
