<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--TODO: when I will add the english version -->
    <!--<link rel="alternate" hreflang="es" href="https://www.inandoutbelleza.es/es"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel='manifest' href='/manifest.json'>
    <meta name="theme-color" content="#56ab2a" />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name='mobile-web-app-capable' content='yes'>
    <meta name="application-name" content="In&Out Belleza">
    <link href="https://www.inandoutbelleza.es/assets/images/favicon.png" rel="shortcut icon" type="image/x-icon">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#56ab2a">
    <meta name="apple-mobile-web-app-title" content="In&Out Belleza">
    <link href="https://www.inandoutbelleza.es/assets/images/apple-touch-icon.png"
          rel="apple-touch-icon-precomposed">
    <link href="https://www.inandoutbelleza.es/assets/images/apple-touch-icon-114x114.png"
          sizes="114x114" rel="apple-touch-icon-precomposed">
    <link href="https://www.inandoutbelleza.es/assets/images/apple-touch-icon-72x72.png"
          sizes="72x72" rel="apple-touch-icon-precomposed">
    <link href="https://www.inandoutbelleza.es/assets/images/apple-touch-icon-144x144.png"
          sizes="144x144" rel="apple-touch-icon-precomposed">
    <meta id="meta-description" name="Description"
          content="{{htmlWebpackPlugin.options.description}}">
    <meta name="robots" content="noodp">
    <meta property="fb:app_id" content="1950796945206063">
    <meta property="og:image" content="{{htmlWebpackPlugin.options.image}}">
    <meta property="og:locale" content="es_ES">
    <meta property="og:type" content="website">
    <meta id="og-meta-title" property="og:title" content="{{htmlWebpackPlugin.options.title}}">
    <meta id="og-meta-description" property="og:description"
          content="{{htmlWebpackPlugin.options.description}}">
    <meta property="og:site_name" content="In&amp;Out Centro de Belleza en Málaga">
    <meta name="twitter:card" content="summary">
    <meta id="twitter-meta-description" name="twitter:description"
          content="{{htmlWebpackPlugin.options.description}}">
    <meta id="twitter-meta-title" name="twitter:title" content="{{htmlWebpackPlugin.options.title}}">
    <meta name="twitter:site" content="@bellezainandout">
    <meta name="twitter:image" content="{{htmlWebpackPlugin.options.image}}">
    <meta name="twitter:creator" content="@bellezainandout">

    <!-- Google Analytics -->
    <script>
        window.ga = window.ga || function () {
            (ga.q = ga.q || []).push(arguments);
        };
        ga.l = +new Date;
        ga('create', 'UA-119607581-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script>window.jsEnabled = {{htmlWebpackPlugin.options.isSpider}}</script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
    <link href="/css/style.css?v={{htmlWebpackPlugin.options.version}}" rel="stylesheet"/>
    <style>
        body {
            background-color: white;
        }

        #boot {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -50px;
            width: 100px;
            text-align: center;
            font-family: Arial;
            height: 110px;
            display: none;
        }

        #boot svg {
            animation: loading 2s infinite;
        }

        #system {
            opacity: 0;
        }

        @keyframes loading {
            0% {
                transform: rotateY(0deg)
            }
            100% {
                transform: rotateY(360deg)
            }
        }

        #boot {
        }

        #welcome {
            display: none;
        }
    </style>
    {{htmlWebpackPlugin.options.style}}
    <noscript>
        <style>
            body {
                overflow: auto !important;
            }

            img {
                width: auto !important;
            }

            #static {
                display: block;
            }

            #boot {
                display: none;
            }

            #welcome {
                display: none;
            }
        </style>
    </noscript>
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div id="boot">
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 4510 5190"
         preserveAspectRatio="xMidYMid meet">
        <g id="layer1" fill="#fefffe" fill-opacity="0" stroke="none">
            <path d="M1 4068 c1 -618 5 -1080 9 -1028 35 438 291 1059 595 1440 97 121 256 299 342 381 187 179 411 295 610 318 38 5 -286 9 -744 10 l-813 1 1 -1122z"/>
            <path d="M1795 5180 c97 -11 204 -49 364 -130 166 -85 235 -104 351 -98 87 5 123 15 350 98 97 36 130 43 213 48 121 6 186 -7 288 -59 108 -54 226 -146 359 -279 128 -127 351 -401 454 -555 192 -288 296 -585 330 -945 1 -19 4 407 4 948 l2 982 -1392 -1 c-766 -1 -1361 -5 -1323 -9z"/>
            <path d="M4497 2773 c-28 -330 -198 -701 -421 -917 -177 -171 -531 -348 -769 -386 -217 -35 -515 27 -794 165 l-124 61 -67 -39 c-262 -153 -536 -258 -792 -303 -129 -24 -385 -23 -494 0 -188 41 -329 112 -486 244 -301 254 -505 656 -540 1067 -4 50 -8 -530 -9 -1287 l-1 -1378 2255 0 2255 0 0 1425 c0 784 -2 1425 -4 1425 -1 0 -6 -35 -9 -77z m-2102 -1189 l38 -15 -6 -73 -6 -73 122 -62 c177 -89 290 -174 463 -346 172 -171 278 -299 410 -500 102 -156 210 -352 199 -363 -4 -4 -75 -6 -158 -6 -242 2 -434 52 -619 162 -271 160 -443 461 -474 830 -4 46 -10 79 -14 75 -4 -4 -29 -64 -55 -133 -60 -154 -203 -442 -288 -576 -133 -211 -373 -494 -419 -494 -31 0 -118 91 -118 123 0 17 24 51 81 114 265 289 529 671 649 940 45 102 106 275 130 371 12 47 13 48 65 26z"/>
        </g>
        <g id="layer2" fill="#56ab2a" stroke="none">
            <path d="M1557 5180 c-202 -25 -423 -141 -610 -319 -86 -82 -245 -260 -342 -381 -143 -180 -291 -436 -394 -683 -60 -146 -138 -393 -166 -531 -53 -253 -55 -564 -5 -794 74 -348 257 -660 510 -874 157 -132 298 -203 486 -244 109 -23 365 -24 494 0 256 45 530 150 792 303 l67 39 124 -61 c210 -104 411 -161 604 -172 197 -11 359 30 589 147 322 164 478 314 623 598 141 277 189 527 178 917 -6 217 -21 329 -67 500 -77 290 -201 515 -469 850 -228 285 -435 476 -610 564 -102 52 -167 65 -288 59 -83 -5 -116 -12 -213 -48 -227 -83 -263 -93 -350 -98 -118 -6 -181 12 -374 108 -89 44 -195 88 -236 99 -88 23 -247 33 -343 21z"/>
            <path d="M2330 1558 c-24 -96 -85 -269 -130 -371 -120 -269 -384 -651 -649 -940 -57 -63 -81 -97 -81 -114 0 -32 87 -123 118 -123 46 0 286 283 419 494 85 134 228 422 288 576 26 69 51 129 55 133 4 4 10 -29 14 -75 51 -611 465 -986 1093 -992 83 0 154 2 158 6 11 11 -97 207 -199 363 -132 201 -238 329 -410 500 -173 172 -286 257 -463 346 l-122 62 6 73 6 73 -38 15 c-52 22 -53 21 -65 -26z"/>
        </g>
    </svg>
    in&out
</div>

<div id="system" style="position: relative;"></div>
<div id="welcome">
</div>
<div id="static">
    <header>
        <div style="position: relative; background-repeat: no-repeat; margin: 3px; height: 50px; width: 160px; display: inline-block; background-size: contain; vertical-align: top; background-image: url(&quot;/assets/images/manzana.svg?v=1.2.8&quot;);">
            <div style="position: absolute; top: 5px; left: 60px; font-size: 34px;">in<span
                    class="green-color">&amp;</span>out
            </div>
            <div style="position: absolute; top: 36px; left: 60px; font-size: 13px;">centro de belleza</div>
        </div>
    </header>
    <hr/>
    {{htmlWebpackPlugin.options.breadcrumb}}
    {{htmlWebpackPlugin.options.body}}
    <hr/>
    <footer>
        <address>
            Málaga C/ Salitre, 11:<span> T. 951 131 460  ·  M. 633 90 91 03</span>
        </address>
        <address>
            Malaga C/ Puerta de Buenaventura, 4:<span> T. 951 387 919  ·  M. 695 685 291 </span>
        </address>
    </footer>
</div>
<script>
    if (window.jsEnabled) {
        document.querySelectorAll('img[data-src]').forEach(function (img) {
            img.src = img.getAttribute('data-src');
        });
    }
</script>
<script src="/assets/vendor/polyfills.min.js"></script>
<script>window.stripeKey = '{{htmlWebpackPlugin.options.stripeKey}}'</script>
<script src="/public.bundle.js?v={{htmlWebpackPlugin.options.version}}"></script>
<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js')
                .then(function(registration) {
                    console.log('Service Worker Registered', registration.scope);
                });
        navigator.serviceWorker.ready.then(function(registration) {
            console.log('Service Worker Ready');
        });

        // Prevent Chrome <= 67 from automatically showing the prompt
        window.addEventListener('beforeinstallprompt', function (event) {
            alert('hola')
            event.preventDefault();
            event.prompt();
        });
    }
</script>
</body>
</html>
